<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="User" type="cc.wdcy.domain.user.User"/>
        <typeAlias alias="Privilege" type="cc.wdcy.domain.user.Privilege"/>
        <typeAlias alias="OauthClientDetails" type="cc.wdcy.domain.oauth.OauthClientDetails"/>
        <typeAlias alias="Airline" type="com.sf.module.pcrs.domain.Airline"/>
        <typeAlias alias="CheckRecord" type="com.sf.module.pcrs.domain.CheckRecord"/>
        <typeAlias alias="MyPilot" type="com.sf.module.pcrs.domain.MyPilot"/>
        <typeAlias alias="Pilot" type="com.sf.module.pcrs.domain.Pilot"/>

    </typeAliases>

    <mappers>
        <mapper resource="cc/wdcy/infrastructure/mybatis/UserMapper.xml"/>
        <mapper resource="cc/wdcy/infrastructure/mybatis/OauthMapper.xml"/>
        <mapper resource="com/sf/module/repository/airline.xml"/>
        <mapper resource="com/sf/module/repository/checkRecord.xml"/>
        <mapper resource="com/sf/module/repository/pilot.xml"/>
        

    </mappers>

</configuration>